@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateX(7rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes shake {
  0%,
  100% {
    transform: rotateZ(30deg) scale(1.1); }
  50% {
    transform: rotateZ(50deg) scale(0.9); } }

@keyframes steam-one {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.35; }
  100% {
    transform: translateY(-20rem) translateX(2rem) scale(1);
    opacity: 0; } }

@keyframes steam-two {
  0% {
    transform: translateY(0) translateX(1rem) scale(0.25);
    opacity: 0.35; }
  100% {
    transform: translateY(-20rem) translateX(-1rem) scale(1);
    opacity: 0; } }

@keyframes steam-three {
  0% {
    transform: translateY(0) translateX(-1rem) scale(0.25);
    opacity: 0.35; }
  100% {
    transform: translateY(-20rem) translateX(-1rem) scale(1);
    opacity: 0; } }

@keyframes steam-four {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.35; }
  100% {
    transform: translateY(-20rem) translateX(-2rem) scale(1);
    opacity: 0; } }

@keyframes showLoader {
  0% {
    display: block;
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

.header {
  display: flex;
  align-items: center; }
  .header__title {
    font-family: "Shrikhand", cursive;
    margin: 1.3rem auto;
    font-weight: 500;
    font-size: 3rem; }

.footer {
  background-color: #353535;
  color: #fff;
  padding: 2.2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }
  @media only screen and (min-width: 768px) {
    .footer {
      padding-top: 6rem;
      flex-direction: row-reverse;
      gap: 10rem; } }
  .footer__title {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 1.8rem; }
  .footer__nav {
    display: flex;
    gap: .7rem;
    flex-direction: column;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 500; }
    @media only screen and (min-width: 768px) {
      .footer__nav {
        flex-direction: row;
        flex-wrap: wrap-reverse;
        gap: 1.5rem;
        align-items: center; } }
    .footer__nav-item {
      display: flex;
      gap: 1rem; }
      .footer__nav-item:nth-last-child(-n+2) {
        font-weight: 400; }
      .footer__nav-item:nth-last-child(3) .fa-handshake {
        transform: rotate(-25deg); }
      .footer__nav-item:nth-last-child(4) .fa-utensils {
        margin-right: .7rem; }
      @media only screen and (min-width: 768px) {
        .footer__nav-item:nth-last-child(3) {
          margin-right: 2rem; } }
      .footer__nav-item .footer__nav-link {
        text-decoration: none;
        color: #fff; }

.location {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #353535;
  background-color: #EAEAEA;
  height: 5rem; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0 5rem 0;
  background-color: #F6F6F6; }
  .hero__title {
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin: 0 5.8rem 0 4.2rem; }
    @media only screen and (min-width: 768px) {
      .hero__title {
        font-size: 2.5rem; } }
  .hero__subtitle {
    font-size: 1.8rem;
    font-weight: 300;
    color: #353535;
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem; }

.options {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4.8rem 2rem 6rem 2rem; }
  @media only screen and (min-width: 768px) {
    .options {
      max-width: 1080px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      align-items: center; } }
  .options__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .options__container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5rem 0 .5rem; } }
  .options__title {
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
    @media only screen and (min-width: 768px) {
      .options__title {
        width: 100%;
        display: flex;
        justify-self: flex-start; } }
  .options__card {
    background-color: #F6F6F6;
    padding: 2rem 3.3rem;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem; }
    @media only screen and (min-width: 768px) {
      .options__card {
        width: 100%; } }
    .options__card--content {
      display: flex;
      justify-content: center;
      gap: 2rem;
      font-size: 1.6rem;
      font-weight: 500; }
      .options__card--content .fa-store {
        color: #9356DC; }
    .options__card--number {
      background-color: #9356DC;
      color: #fff;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      margin-left: -4.5rem;
      margin-right: 2.5rem; }

.restaurants {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6; }
  .restaurants__container {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 5rem 2rem;
    gap: 2rem;
    width: 100%;
    max-width: 1080px; }
  .restaurants__title {
    display: flex;
    max-width: 49rem;
    font-family: Roboto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%; }
  .restaurants__cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .restaurants__cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5rem;
        column-gap: 10rem; } }
    .restaurants__cards-container a.restaurant__link:nth-child(-n+2) .restaurant-card {
      position: relative; }
      .restaurants__cards-container a.restaurant__link:nth-child(-n+2) .restaurant-card::before {
        content: 'Nouveau';
        font-size: 1.4rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1rem;
        right: 1rem;
        padding: .7rem .9rem;
        border-radius: .1rem;
        font-weight: 500;
        color: #278870;
        background-color: #99E2D0; }
    .restaurants__cards-container .restaurant__link {
      width: 100%;
      max-width: 74rem;
      text-decoration: none;
      color: black; }
      .restaurants__cards-container .restaurant__link .restaurant-card {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 1.5rem;
        width: 100%;
        height: 24rem;
        overflow: hidden; }
        .restaurants__cards-container .restaurant__link .restaurant-card__image {
          width: 100%;
          height: 70%;
          object-fit: cover;
          object-position: center 62%; }
        .restaurants__cards-container .restaurant__link .restaurant-card__content {
          display: flex;
          justify-content: space-between;
          padding: 1.5rem 2.5rem 1.5rem 1.3rem; }
          .restaurants__cards-container .restaurant__link .restaurant-card__content .restaurant-card__text h3 {
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 700; }
          .restaurants__cards-container .restaurant__link .restaurant-card__content .restaurant-card__text p {
            font-size: 1.7rem;
            font-style: normal;
            font-weight: 300; }
          .restaurants__cards-container .restaurant__link .restaurant-card__content .restaurant-card__rating {
            width: 2.5rem;
            height: 2.5rem;
            position: relative; }

.header {
  position: relative; }
  .header__return {
    position: absolute;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    padding: .5rem; }
    .header__return i {
      font-size: 1.8rem; }

.restaurant__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .restaurant__main .restaurant__img {
    display: flex;
    justify-content: center;
    height: 25rem; }
    .restaurant__main .restaurant__img--photo {
      width: 100%;
      object-fit: cover;
      object-position: center bottom; }
  @media only screen and (min-width: 768px) {
    .restaurant__main .restaurant__img {
      display: flex;
      justify-content: center;
      height: 37rem; }
      .restaurant__main .restaurant__img--photo {
        width: 100%;
        object-fit: cover;
        object-position: center 58%; } }

.restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  max-width: 105rem;
  margin-top: -5rem; }
  @media only screen and (min-width: 768px) {
    .restaurant {
      margin-top: -3rem; } }
  .restaurant__menu-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 4rem 0;
    align-items: center;
    justify-content: center; }
    .restaurant__menu-container .restaurant__menu-title {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center; }
      .restaurant__menu-container .restaurant__menu-title .restaurant-heart {
        margin-bottom: 2rem;
        font-size: 2.4rem; }
      .restaurant__menu-container .restaurant__menu-title .restaurant__title {
        font-family: "Shrikhand", cursive;
        font-weight: 400;
        font-size: 2.8rem;
        padding-right: 1.5rem; }
    .restaurant__menu-container .food__container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      width: 95%; }
      @media only screen and (min-width: 768px) {
        .restaurant__menu-container .food__container {
          width: 60%; } }
      .restaurant__menu-container .food__container .food {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: flex-start; }
        .restaurant__menu-container .food__container .food__title {
          animation-name: moveInLeft;
          animation-duration: 1s;
          animation-timing-function: ease-in; }
          .restaurant__menu-container .food__container .food__title-text {
            font-size: 1.6rem;
            font-weight: 300;
            text-transform: uppercase; }
          .restaurant__menu-container .food__container .food__title::after {
            margin-top: .3rem;
            display: flex;
            content: "";
            color: #99E2D0;
            border: solid .16rem;
            width: 4rem; }
        .restaurant__menu-container .food__container .food__option {
          animation: moveInRight 1s ease-in;
          display: flex;
          padding: 1.5rem;
          width: 100%;
          position: relative;
          overflow: hidden; }
          .restaurant__menu-container .food__container .food__option .food__description {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
            .restaurant__menu-container .food__container .food__option .food__description .food__name {
              width: 100%;
              font-size: 1.8rem;
              font-weight: 500;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap; }
            .restaurant__menu-container .food__container .food__option .food__description .food__ingredients {
              width: 100%;
              font-size: 1.5rem;
              font-weight: 300;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap; }
          .restaurant__menu-container .food__container .food__option .food__price {
            display: flex;
            margin-left: auto;
            align-items: flex-end;
            font-size: 1.5rem;
            font-weight: 700;
            gap: 2rem;
            position: absolute;
            right: 2rem;
            top: 0; }
            .restaurant__menu-container .food__container .food__option .food__price--text {
              padding-bottom: 1.5rem; }
            .restaurant__menu-container .food__container .food__option .food__price .food__choice {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: -9rem;
              width: 7rem;
              height: 7.5rem;
              padding: 0 1.5rem;
              background-color: #99E2D0;
              transition: margin-right 0.4s ease-in-out; }
              .restaurant__menu-container .food__container .food__option .food__price .food__choice::after {
                content: '\f00c';
                font-family: 'FontAwesome';
                padding: .8rem;
                border-radius: 50%;
                color: #99E2D0;
                font-size: 1.5rem;
                background-color: #fff;
                transition: transform 0.8s ease-in-out; }
          .restaurant__menu-container .food__container .food__option:hover .food__choice {
            margin-right: -2rem; }
    .restaurant__menu-container .restaurant__menu-button {
      animation: moveInBottom 1s ease-in; }
      .restaurant__menu-container .restaurant__menu-button .btn {
        width: 18.6rem; }

.btn {
  background: linear-gradient(to bottom, #FF79DA, #9356DC 120%);
  color: #fff;
  border: none;
  border-radius: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.3rem 1.8rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all .2s ease-in-out; }
  .btn:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #ff93e1, #a16be0 120%); }

.card-sm {
  display: flex;
  border-radius: 2rem;
  max-width: 70rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); }
  @media only screen and (min-width: 768px) {
    .card-sm {
      max-width: 32.5rem; } }

.card-md {
  border-radius: 1.5rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  cursor: pointer; }

.heart-button {
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  position: relative; }

.heart-button .fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out; }

.fa-heart-solid {
  background: linear-gradient(to bottom, #FF79DA, #9356DC 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer; }

.heart-button:hover .fa-heart-empty {
  opacity: 0; }

.heart-button:hover .fa-heart-solid {
  opacity: 1; }

.loader {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #353535;
  z-index: 1000;
  display: none;
  animation: showLoader 4s ease forwards; }
  .loader .pan-loader {
    width: 18rem;
    height: 18rem;
    margin: 40vh auto;
    position: relative; }
    .loader .pan-loader .steams .steams--1 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams .steams--2 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams .steams--3 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams .steams--4 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams .steams--5 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams .steams--6 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams .steams--7 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams .steams--8 {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: #99E2D0;
      border-radius: 50%;
      margin-left: 3rem;
      margin-top: -2.5rem;
      z-index: 0;
      opacity: 0; }
    .loader .pan-loader .steams--1 {
      animation: steam-one 4s ease-out; }
    .loader .pan-loader .steams--2 {
      animation: steam-two 4s ease-out .5s infinite; }
    .loader .pan-loader .steams--3 {
      animation: steam-three 4s ease-out .1s infinite; }
    .loader .pan-loader .steams--4 {
      animation: steam-four 4s ease-out 1.5s infinite; }
    .loader .pan-loader .steams--5 {
      animation: steam-one 4s ease-out 2s infinite; }
    .loader .pan-loader .steams--6 {
      animation: steam-two 4s ease-out 2.5s infinite; }
    .loader .pan-loader .steams--7 {
      animation: steam-three 4s ease-out 3s infinite; }
    .loader .pan-loader .steams--8 {
      animation: steam-four 4s ease-out 3.5s infinite; }
    .loader .pan-loader .pan-container {
      display: flex;
      width: 100%; }
      .loader .pan-loader .pan-container .pan {
        width: 60%;
        height: 8rem;
        background: linear-gradient(to bottom, #FF79DA, #9356DC 120%);
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem; }
      .loader .pan-loader .pan-container .handle {
        width: 40%;
        height: 1rem;
        background: linear-gradient(to bottom, #FF79DA, #9356DC 120%);
        border-radius: 1rem; }
    .loader .pan-loader .flames {
      display: flex;
      flex-direction: row;
      margin-left: 1rem;
      gap: 1rem; }
      .loader .pan-loader .flames .flames--1 {
        height: 20px;
        width: 20px;
        background: #ff7200;
        position: relative;
        top: 0;
        left: 2px;
        border-radius: 0% 50% 70% 50%;
        transform: rotateZ(45deg) scale(1.1);
        filter: drop-shadow(0 0 10px #d43322);
        animation: shake 1s ease-in-out infinite; }
      .loader .pan-loader .flames .flames--2 {
        height: 20px;
        width: 20px;
        background: #ff7200;
        position: relative;
        top: 0;
        left: 2px;
        border-radius: 0% 50% 70% 50%;
        transform: rotateZ(45deg) scale(1.1);
        filter: drop-shadow(0 0 10px #d43322);
        animation: shake 1s ease-in-out infinite; }
      .loader .pan-loader .flames .flames--3 {
        height: 20px;
        width: 20px;
        background: #ff7200;
        position: relative;
        top: 0;
        left: 2px;
        border-radius: 0% 50% 70% 50%;
        transform: rotateZ(45deg) scale(1.1);
        filter: drop-shadow(0 0 10px #d43322);
        animation: shake 1s ease-in-out infinite; }
  .loader .motto {
    font-family: "Shrikhand", cursive;
    margin-top: 3rem;
    margin-left: -3rem;
    color: #99E2D0;
    text-align: center;
    letter-spacing: .1rem;
    font-size: 1.8rem; }
    .loader .motto-text--1 {
      margin-bottom: 2rem; }
