.footer {
    background-color: $color-dark-grey-2;
    color: #fff;
    padding: 2.2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @media only screen and (min-width: 768px) {
        padding-top: 6rem;
        flex-direction: row-reverse;
        gap: 10rem;
    }

    &__title {
        font-family: $title-font;
        font-weight: 400;
        font-size: 1.8rem;
    }

    &__nav {
        display: flex;
        gap: .7rem;
        flex-direction: column;
        list-style: none;
        font-size: 1.6rem;
        font-weight: 500;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap-reverse;
            gap: 1.5rem;
            align-items: center;
        }

        &-item {
            display: flex;
            gap: 1rem;

            &:nth-last-child(-n+2) {
                font-weight: 400;
            }

            &:nth-last-child(3) .fa-handshake {
                transform: rotate(-25deg);
            }

            &:nth-last-child(4) .fa-utensils {
                margin-right: .7rem;                
            }

            &:nth-last-child(3) {
                @media only screen and (min-width: 768px) {
                    margin-right: 2rem;
                }
            }


            .footer__nav-link {
                text-decoration: none;
                color: #fff;
            }
        }
    }

}