
.loader {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:$color-dark-grey-2;
    z-index:1000;
    visibility: hidden;
    opacity: 0;
    animation: showLoader 3s linear;


    .pan-loader {
        width: 18rem;
        height: 18rem;
        margin: 40vh auto;
        position: relative;


        .steams {
            @for $i from 1 through 8 {
                .steams--#{$i} {
                    @include steam;
                }
            }

            &--1 {
                animation: steam-one 4s ease-out;
            }

            &--2 {
                animation: steam-two 4s ease-out .5s infinite;
            }

            &--3 {
                animation: steam-three 4s ease-out .1s infinite;
            }


            &--4 {
                animation: steam-four 4s ease-out 1.5s infinite;
            }

            &--5 {
                animation: steam-one 4s ease-out 2s infinite;
            }

            &--6 {
                animation: steam-two 4s ease-out 2.5s infinite;
            }

            &--7 {
                animation: steam-three 4s ease-out 3s infinite;
            }

            &--8 {
                animation: steam-four 4s ease-out 3.5s infinite;
            }
        }

        .pan-container {
            display: flex;
            width: 100%;

            .pan {
                width: 60%;
                height: 8rem;
                background: $gradient;
                border-bottom-right-radius: 2rem;
                border-bottom-left-radius: 2rem;
            }

            .handle {
                width: 40%;
                height: 1rem;
                background: $gradient;
                border-radius: 1rem;
            }
        }

        .flames {
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
            gap: 1rem;

            @for $i from 1 through 3 {
                .flames--#{$i} {
                    @include fire;
                }
            }
        }
    }


    .motto{
        font-family: $title-font;
        margin-top: 3rem;
        margin-left:-3rem;
        color: #fff;
        text-align:center;
        letter-spacing: .1rem;
        font-size: 1.8rem;
        &-text--1{margin-bottom: 2rem;}
    }
}