
.loader {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:$color-dark-grey-2;
    z-index:1000;
    display: none;
    animation: showLoader 5s linear;

    .pan-loader {
        width: 18rem;
        height: 18rem;
        margin: 50vh auto;
        position: relative;

        .steams {
            @for $i from 1 through 8 {
                .steams--#{$i} {
                    @include steam;
                }
            }

            &--1 {
                animation: steam-one 4s;
            }

            &--2 {
                animation: steam-two 4s .5s;
            }

            &--3 {
                animation: steam-three 4s .1s;
            }


            &--4 {
                animation: steam-four 4s 1.5s;
            }

            &--5 {
                animation: steam-one 4s 2s;
            }

            &--6 {
                animation: steam-two 4s 2.5s;
            }

            &--7 {
                animation: steam-three 4s 3s;
            }

            &--8 {
                animation: steam-four 4s 3.5s;
            }
        }

        .pan-container {
            display: flex;
            width: 100%;

            .pan {
                width: 60%;
                height: 8rem;
                background: $gradient;
                border-bottom-right-radius: 2rem;
                border-bottom-left-radius: 2rem;
            }

            .handle {
                width: 40%;
                height: 1rem;
                background: $gradient;
                border-radius: 1rem;
            }
        }

        .flames {
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
            gap: 1rem;

            @for $i from 1 through 3 {
                .flames--#{$i} {
                    @include fire;
                }
            }
        }
    }

}