/* Style pour la classe .location */
.location {
    display: flex;
    gap: 1.7rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: $color-dark-grey-2;
    background-color: $color-dark-grey-1;
    height: 5rem;
}

/* Style pour la classe .hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 5rem 0;
    background-color: $color-light-grey-1;

    /* Style pour le titre de la classe .hero */
    &__title {
        @include title_style;
        display: inline-block;
        text-align: center;
        padding: 1rem;
        margin: 0 5.8rem 0 4.2rem;

        /* Média query pour les écrans de taille supérieure ou égale à 768px */
        @media only screen and (min-width: 768px) {
            font-size: 2.5rem;
        }

    }

    /* Style pour le sous-titre de la classe .hero */
    &__subtitle {
        font-size: 1.8rem;
        font-weight: 300;
        color: $color-dark-grey-2;
        display: inline-block;
        text-align: center;
        margin-bottom: 3rem;
    }
}

/* Style pour la classe .options */
.options {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 4.8rem 2rem 6rem 2rem;

    /* Média queries pour les écrans de 768px ou superieure */
    @media only screen and (min-width: 768px) {
        max-width: 1080px;
        margin: 0 auto;
        padding-right: 0;
        align-items: center;
    }

    /* Média query pour les écrans de taille supérieure ou égale à 1123px */
    @media only screen and (min-width: 1123px) {
         padding-left: 0;
    }

    /* Style pour le conteneur .options__container */
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        /* Média query pour les écrans de taille supérieure ou égale à 768px */
        @media only screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 1.5rem 0 .5rem;
        }
    }

    /* Style pour le titre .options__title */
    &__title {
        @include title_style;
                @media only screen and (min-width: 768px) {
            width: 100%;
            display: flex;
            justify-self: flex-start;
        }
    }


    /* Style pour la classe .options__card */
    &__card {
        background-color: $color-light-grey-1;
        padding: 2rem 3.3rem;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1rem;

        /* Média query pour les écrans de taille supérieure ou égale à 768px */
        @media only screen and (min-width: 768px) {
            width: 100%;
        }

        /* Style pour le contenu .options__card--content */
        &--content {
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 1.6rem;
            font-weight: 500;

            /* Style pour l'icône .fa-store */
            & .fa-store {
                color: $color-primary;
            }
        }

        /* Style pour le numéro .options__card--number */
        &--number {
            background-color: $color-primary;
            color: #fff;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            margin-left: -4.5rem;
            margin-right: 2.5rem;
        }

    }
}

/* Style pour la classe .restaurants */
.restaurants {
    display: flex;
    justify-content: center;
    background-color: $color-light-grey-1;

    /* Style pour le conteneur .restaurants__container */
    &__container {
        display: flex;
        flex-direction: column;
        margin: 2rem 2rem 5rem 2rem;
        gap: 2rem;
        width: 100%;
        max-width: 1080px;
    }

    /* Style pour le titre .restaurants__title */
    &__title {
        display: flex;
        max-width: 49rem;
        @include title_style;
        width: 100%;
    }

    /* Style pour le conteneur des cartes .restaurants__cards-container */
    &__cards-container {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        width: 100%;

        /* Média query pour les écrans de taille supérieure ou égale à 768px */
        @media only screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 5rem;
            column-gap: 10rem;
        }

        /* Style pour les deux premières liaisons .restaurant__link */
        a.restaurant__link:nth-child(-n+2) {
            .restaurant-card {
                position: relative;

                /* Style pour le texte 'Nouveau' */
                &::before {
                    content: 'Nouveau';
                    font-size: 1.4rem;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 1rem;
                    right: 1rem;
                    padding: .7rem .9rem;
                    border-radius: .1rem;
                    font-weight: 500;
                    color: darken($color-tertiary, 40%);
                    background-color: $color-tertiary;
                }
            }
        }

        /* Style pour la classe .restaurant__link */
        .restaurant__link {
            width: 100%;
            max-width: 74rem;
            text-decoration: none;
            color: black;

            /* Style pour la carte du restaurant .restaurant-card */
            .restaurant-card {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-radius: 1.5rem;
                width: 100%;
                height: 24rem;
                overflow: hidden;

                /* Style pour l'image .restaurant-card__image */
                &__image {
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                    object-position: center 62%;
                }

                /* Style pour le contenu .restaurant-card__content */
                &__content {
                    display: flex;
                    justify-content: space-between;
                    padding: 1.5rem 2.5rem 1.5rem 1.3rem;

                    /* Style pour le texte .restaurant-card__text */
                    .restaurant-card__text {
                        & h3 {
                            font-size: 1.8rem;
                            font-style: normal;
                            font-weight: 700;
                        }

                        & p {
                            font-size: 1.7rem;
                            font-style: normal;
                            font-weight: 300;
                        }
                    }

                    /* Style pour l'icône de notation .restaurant-card__rating */
                    .restaurant-card__rating {
                        width: 2.5rem;
                        height: 2.5rem;
                        position: relative;
                    }
                }
            }
        }

    }
}