.header {
    position: relative;

    &__return {
        position: absolute;
        color: black;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        padding: .5rem;

        i {
            font-size: 1.8rem;
        }
    }
}



.restaurant__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .restaurant__img {
        display: flex;
        justify-content: center;
        height: 25rem;

        &--photo {
            width: 100%;
            object-fit: cover;
            object-position: center bottom;
        }
    }

    @media only screen and (min-width: 768px) {
        .restaurant__img {
            display: flex;
            justify-content: center;
            height: 37rem;

            &--photo {
                width: 100%;
                object-fit: cover;
                object-position: center 58%;
            }
        }
    }
}

.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-light-grey-1;
    border-top-left-radius: 4rem;
    border-top-right-radius: 5rem;
    max-width: 105rem;
    margin-top: -5rem;

    @media only screen and (min-width: 768px) {
        margin-top: -3rem;
    }

    &__menu-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin: 4rem 0;
        align-items: center;
        justify-content: center;


        .restaurant__menu-title {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;

            .restaurant__title {
                font-family: $title-font;
                font-weight: 400;
                font-size: 2.8rem;
            }
        }

        .food__container {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: 95%;

            @media only screen and (min-width: 768px) {
                width: 60%;
            }



            .food {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                align-items: flex-start;





                &__title {
                    &-text {
                        font-size: 1.6rem;
                        font-weight: 300;
                        text-transform: uppercase;
                    }

                    &::after {
                        margin-top: .3rem;
                        display: flex;
                        content: "";
                        color: #99E2D0;
                        border: solid .16rem;
                        width: 4rem;
                    }
                }

                &__option {

                    display: flex;
                    // justify-content: space-between;
                    padding: 1.5rem;
                    gap: .5rem;
                    width: 100%;
                    position: relative;

                    // testing

                    // transition: all 2s ease-out;
                    // cursor: pointer;
                    ///////////

                    .food__description {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        @include dots;



                        .food__name {

                            width: 100%;
                            font-size: 1.8rem;
                            font-weight: 500;
                            @include dots;
                        }

                        .food__ingredients {

                            width: 100%;
                            font-size: 1.5rem;
                            font-weight: 300;
                            @include dots;
                        }
                    }

                    .food__price {
                        display: flex;
                        margin-left: auto;
                        align-items: flex-end;
                        font-size: 1.5rem;
                        font-weight: 700;
                    //           transition: all 2s ease-in-out;
                    // cursor: pointer;
                


                        .food__choice {
                            display: none;
                        }

                    }

                    &:hover .food__choice {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 6.5rem;
                        height: 7.5rem;
                        margin-left: 1rem;
                        margin: -4rem -1.5rem -1.5rem 1rem;
                        border-top-right-radius: 1.5rem;
                        border-bottom-right-radius: 1.5rem;
                        background-color: $color-tertiary;
                        transition: all 1s ease-in-out;

                        &::before {
                            content: '\f00c';
                            font-family: 'FontAwesome';
                            padding: .8rem;
                            border-radius: 50%;
                            color: $color-tertiary;
                            font-size: 1.5rem;
                            background-color: #fff;
                            transition: transform 1s ease-in-out;
                        }
                    }
                }
            }
        }

        .restaurant__menu-button {
            .btn {
                width: 18.6rem;
            }
        }
    }
}